<h2>Editar informações de acesso <%#= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<div class="form-group">
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control col-md-6' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Esperando confirmação para: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(Deixe em branco caso não queira mudar!)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control col-md-6' %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caractéres no mínimo.</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control col-md-6' %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(Nós precisamos da sua senha atual para fazer isso!)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control col-md-6' %>
  </div>
</div>
  <div class="actions">
    <%= f.submit "Atualizar perfil", class: 'btn btn-primary' %>
  </div>
<% end %>
<hr>
<%= link_to "Voltar", :back, class: 'btn btn-primary' %>
<hr>
<h3>Cancelar minha conta</h3>
<p>Quer acabar com tudo? <%= button_to "Apague minha conta", registration_path(resource_name), data: { confirm: "Tem certeza que vai nos abandonar? :(" }, method: :delete, class: 'btn btn-warning' %></p>
