<h1><%= @recipe.title %></h1>
<h3>Detalhes</h3>
<p><%= @recipe.recipe_type.name %></p>
<p><%= @recipe.cuisine.name %></p>
<p><%= @recipe.difficulty %></p>
<p><%= @recipe.cook_time_min %></p>
<h3>Ingredientes</h3>
<p><%= @recipe.ingredients %></p>
<h3>Como Preparar</h3>
<p><%= @recipe.cook_method %></p>
<h3>Autor da receita</h3>
<p><%= @user %></p>

<%= link_to 'Voltar', root_path, class: 'btn btn-secondary' %>
<%= link_to 'Editar', edit_recipe_path(@recipe), class: 'btn btn-primary' %>
<%= link_to 'Deletar', @recipe, method: :delete, data: {confirm: 'Deseja apagar essa receita?'} , class: 'btn btn-warning' %>
