<% if @cuisine.errors.any? %>
  <p><%= @cuisine.errors[:name] %></p>
<% end %>

<%= link_to 'Voltar', root_path, class: 'btn btn-secondary' %>

<%= form_with model: @cuisine, class: 'mt-4' do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Nova cozinha' %>
    <%= f.text_field :name, class: 'form-control col-md-6' %>
  </div>
  <%= f.submit 'Criar', class: 'btn btn-primary' %>
<% end %>
<hr>
<ul class="list-group">
  <% if @cuisines.nil? %>
    <li>Nenhuma cozinha cadastrada ainda...<li>
  <% else %>
    <% @cuisines.each do |cuisine| %>
      <li class="list-group-item"><%= link_to cuisine.name, edit_cuisine_path(cuisine) %></li>
    <% end %>
  <% end %>
</ul>
