<% if @cuisine.errors.any? %>
  <p><%= @cuisine.errors[:name] %></p>
<% end %>

<%= form_with model: @cuisine, class: 'mt-4' do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name, class: 'form-control col-md-6' %>
  </div>
  <%= f.submit 'Enviar', class: 'btn btn-primary' %>
<% end %>
