<h1><%= @user.email %></h1>
<hr>
<% if @user.photo.attached? %>
  <%= image_tag @user.photo, class:'avatar'%>
<% else %>
  <%= image_tag 'default.png', class:'avatar'%>
<% end %>
<hr>
<h3>Nome</h3>
<p><%= @user.name %></p>
<h3>Cidade</h3>
<p><%= @user.city %></p>
<h3>Facebook</h3>
<p><%= @user.facebook %></p>
<h3>Twitter</h3>
<p><%= @user.twitter %></p>
<h3>Membro desde</h3>
<p><%= @user.created_at.strftime("%d/%b/%Y") %></p>
<hr>
<% if @user == current_user %>
  <%= link_to 'Editar perfil', edit_user_path(current_user), class: 'btn btn-primary' %>
<% end %>
<hr>
<% if @user.recipes.any? %>
  <h1>Receitas do usuário:</h1>
  <ul>
    <% @user.recipes.each_with_index do |r, index| %>
      <li><%= link_to r.title, recipes_path(index) %></li>
    <% end %>
  </ul>
<% else %>
  <p>Esse usuário não possui receitas ainda.</p>
<% end %>
